@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montaga&family=Montserrat&display=swap');

body {
  color: #494949;
  font-size: 18px;
  line-height: 1.6;
  font-weight: lighter;
  font-family: 'Montaga', serif;
  margin: 0;
}

h1, h2 {
  font-family: 'Akaya Telivigala', cursive;
  font-weight: bold;
}

h2 {
  color: #1e212d;
  font-weight: normal;
}
a {
  text-decoration: none;
  color: #0e49b5;
}

.container {
  width: 700px;
  margin: 50px auto;
}


.banner {
  background-image: url(https://source.unsplash.com/random/1000x500);
  background-size: cover;
  color: white;
  padding: 120px 0;
}

.banner h1 {
  font-size: 38px;
  text-align: center;
}

.banner p {
  font-size: 30px;
  font-weight: lighter;
  opacity: 0.8;
  text-align: center;
}

.page-link {
  background-image: linear-gradient(to bottom, rgba(180, 170, 190, 1), rgba(133, 153, 240, 1));
  color: #636363;
  font-weight: lighter;
  font-size: 25px;
  font-style: italic;
}
.page-link:hover {
  background-image: linear-gradient(to bottom, rgba(135, 125, 193, 1), rgba(125, 155, 19, 1));}
}

@media(max-width: 1200px) {
  .container {
    width: 1000px;
  }
}
@media(max-width: 992px) {
  .container {
    width: 700px;
  }
}
@media(max-width: 768px) {
  .container {
    width: 568px;
  }
}
@media(max-width: 576px) {
  .container {
    width: 350px;
  }
}
